%h3.page-header Tired of Skyrim? &nbsp;Try Rock-Paper-Scissors!

= form_tag throw_path, method: :post do
  = label_tag 'sign', 'Choose your move:'
  = select_tag 'sign', options_for_select(@game.valid_signs)
  %p= submit_tag('Go!', class: "btn btn-large btn-default")
